ddf/xml/org.osgi.mobile.policy.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Generated from org.osgi.mobile.policy.ddf by XMLBuddy -->
<!-- 
/*
 * $Revision$
 * 
 * Copyright (c) OSGi Alliance (2006, 2007). All Rights Reserved.
 * 
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
-->		
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="AccessType">
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="Add"/>
				<xs:element ref="Delete"/>
				<xs:element ref="Get"/>
				<xs:element ref="Replace"/>
				<xs:element ref="Exec"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="Add">
		<xs:complexType/>
	</xs:element>
	<xs:element name="Exec">
		<xs:complexType/>
	</xs:element>
	<xs:element name="CS">
		<xs:complexType/>
	</xs:element>
	<xs:element name="CaseSense">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CS"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DDFName">
		<xs:complexType/>
	</xs:element>
	<xs:element name="DFFormat">
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="chr"/>
				<xs:element ref="node"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="DFProperties">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="AccessType"/>
				<xs:element ref="Description"/>
				<xs:element ref="DFFormat"/>
				<xs:element ref="Occurrence"/>
				<xs:element ref="Scope"/>
				<xs:element ref="DFTitle"/>
				<xs:element ref="DFType"/>
				<xs:element ref="CaseSense"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DFTitle" type="xs:string"/>
	<xs:element name="DFType">
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="DDFName"/>
				<xs:element ref="MIME"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="Delete">
		<xs:complexType/>
	</xs:element>
	<xs:element name="Description" type="xs:string"/>
	<xs:element name="Dynamic">
		<xs:complexType/>
	</xs:element>
	<xs:element name="Get">
		<xs:complexType/>
	</xs:element>
	<xs:element name="MIME" type="xs:string"/>
	<xs:element name="Man" type="xs:string"/>
	<xs:element name="MgmtTree">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="VerDTD"/>
				<xs:element ref="Man"/>
				<xs:element ref="Node"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Node">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="NodeName"/>
				<xs:element ref="DFProperties"/>
				<xs:element ref="Node" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="NodeName" type="xs:string"/>
	<xs:element name="Occurrence">
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="One"/>
				<xs:element ref="ZeroOrMore"/>
				<xs:element ref="ZeroOrOne"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="One">
		<xs:complexType/>
	</xs:element>
	<xs:element name="Permanent">
		<xs:complexType/>
	</xs:element>
	<xs:element name="Replace">
		<xs:complexType/>
	</xs:element>
	<xs:element name="Scope">
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="Dynamic"/>
				<xs:element ref="Permanent"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="VerDTD" type="xs:decimal"/>
	<xs:element name="ZeroOrMore">
		<xs:complexType/>
	</xs:element>
	<xs:element name="ZeroOrOne">
		<xs:complexType/>
	</xs:element>
	<xs:element name="chr">
		<xs:complexType/>
	</xs:element>
	<xs:element name="node">
		<xs:complexType/>
	</xs:element>
</xs:schema>
