org.osgi.test.cases.blueprint/src/org/osgi/test/cases/blueprint/namespace/test1.xsd

<?xml version="1.0"?>
<xsd:schema xmlns="http://www.osgi.org/schema/test/test1"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:osgi="http://www.osgi.org/xmlns/blueprint/v1.0.0"
    targetNamespace="http://www.osgi.org/schema/blueprint/test/test1/v1.0.0"
    elementFormDefault="qualified"
    attributeFormDefault="unqualified">

    <xsd:import namespace="http://www.osgi.org/xmlns/blueprint/v1.0.0"/>

    <xsd:element name="bundle"/>
    <xsd:element name="bundle-value"/>
    <xsd:element name="raise-error"/>
</xsd:schema>
